* {
    box-sizing: border-box;
}
/* 弹框 */
.van-dialog {
    width: 3rem;
    height: 2.71rem;
    font-size: 0.14rem;
    border-radius: 0.16rem;
    background-color: #ffffff;
    padding: 0.3rem 0rem 0rem;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    /* top: 50%;
    transform: translateY(-50%);  */
}

.van-dialog__content {
    text-align: center;
    position: relative;
}
.dialog_close {
    position: absolute;
    right: .12rem;
    top: -0.14rem;
    color: rgba(119, 119, 119, 1);
}
.van-overlay {
    background: rgba(0, 0, 0, 0.4) !important;
}

#class-pic {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0.06rem;

}

.login-bxx {
    text-align: center;
    font-size: 0.16rem;
    color: rgba(119, 119, 119, 1);
}

.listen {
    width: 1.36rem;
    height: 0.37rem;
    background: rgba(255, 119, 2, 1);
    border-radius: 0.19rem;
    border: 1px solid #FFFF7702;
    color: #ffffff;
    margin-top: 0.3rem;
    margin: 0.3rem 0 0 0.85rem;
    display: block;
    line-height: 0.37rem;
    text-align: center;
    font-size: 0.14rem;
}

.van-radio {
    display: flex;
}

.van-cell {
    display: flex;
    padding: 0.1rem 0.12rem !important;
    font-size: 0.14rem !important;
}

.goget-wapper {
    width: 100%;
    height: 0.72rem;
    background-color: #F5F5F5FF;
    position: fixed;
    bottom: 0rem;
    padding: 0.1rem 0.16rem;
}

.goget {
    width: 3.43rem;
    height: 0.46rem;
    background: rgba(255, 119, 2, 1);
    border-radius: 0.23rem;
    font-size: 0.16rem;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 119, 2, 1);
}

.plyr--video {
    border-radius: 2.133vw;
    overflow: hidden;
}

.plyr__control--overlaid {
    color: #ff7702 !important;
    background-color: #fff !important;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
    background: 0 0 !important;
}

.plyr__control.plyr__tab-focus {
    box-shadow: none !important;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
    background: 0 0 !important;
}

.disable_btn[data-v-b846df1a] {
    background-color: #e2e2e2 !important;
    color: #777;
}

.van-dialog {
    width: 3rem !important;
    font-size: 0.16rem !important;
    border-radius: 0.08rem !important;
}