

/* @media screen and (min-width:700px){
    .van-field__label {
       
         width: 30%!important;
        
    }
    .van-cell {
        font-size: .14rem!important;
    }
    .van-field__error-message{
        font-size: .12rem!important;
    }
}  */